.minesweeper-grid-container {
  flex-wrap: wrap;
}

.minesweeper-tile {
  width: 28px;
  height: 28px;
  border-width: 1px;
  border-radius: 2px;
  border: solid;
  border-color: black;
  background-color: darkgrey;
  margin: 1px;
  font-weight: bolder;
}

.empty-tile {
  background-color: lightslategray;
}

.bomb-tile {
  background-color: red;
}

.start-button {
  border-radius: 5px;
  border: solid;
  border-width: 3px;
  border-color: black;
  width: 150px;
  height: 100px;
  font-weight: bolder;
  font-size: 42px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  background: white;
}

.message-container {
  font-size: large;
  font-weight: bold;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ui-container {
  user-select: none;
}